@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');



* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
  box-sizing: border-box;
 
}

html{
  font-size: 62.5%;
   overflow-x: hidden;
   scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  background: transparent;
}

html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-thumb {
  background: #cc9a97;
}
sections {
  padding: 3rem 9%;
} 
.btn{
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  align-items: center;
  color: #000;
  font-size: 1.7rem;
  box-shadow: 0 0.5rem 1rem #000;
  cursor: pointer;
}
.btn:hover {
  letter-spacing: .1rem;
  background: #cc9a97;
  align-items: center;
}

span {
  color: #cc9a97;
}

.heading {
  text-align: center;
  color: grey;
  margin-bottom: 3rem;
  font-size: 4rem;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
    transform: translateY(-4rem) scale(0.4);
  }
}
.header {
  position: sticky;
  top: 5rem;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0,1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #3e2b2e;
  padding: 1.3rem 9%;
}
.header .logo {
  font-size: 2em;
  color: #fff;
  font-weight: bolder;
}
.header .logo {
   color: #fff;
}
.header .navbar a {
  margin: 0 1rem;
  font-size: 1.4rem;
  color: #fff;
  
}
.header .navbar a:hover{
  color: #cc9a97;
  cursor: pointer;
  text-decoration: underline;
  padding-top: calc(2em -2px);
   transform: translateY(-2px); 
   transition-duration: 0.4s;

}
.header .icons div,
.header .icons a{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: .2rem;
  font-size: 1.5rem;
  color: #fff;
  margin-left: .4rem;
  text-align: center;
  cursor: pointer;
  /* margin-bottom: -2rem; */
}
.header .icons a:hover,
.header .icon div:hover {
  background: #cc9a97;
  color: #fff;
}
.header #menu-btn{
  display: none;
}

.home {
  position: relative;
  padding: 0;
}
.home .slide{
  padding: 3rem;
  display: flex;
  min-height: 100vh;
  display: none;
}
.home .slide.active {
  display: flex;
}

.home .slide .content {
  margin: 60;
  text-align: left;
  padding-top: 18rem;
  
}


.home .slide .content h3{
  font-size: 9rem;
  margin-top: -17rem;
  font-weight: lighter;
  color: #3e2b2e;
  text-shadow: 0 0.5rem 1rem rgba(0,0,0,0,2);
  animation: fadeIn .2s linear backwards .4s;
  letter-spacing: 4px;
  right: 1rem;
  text-align: center;
}

.home .slide .content h3:hover {
  color: #cc9a97;
}
.home .slide .contnet .btn {
  animation: fadeIn .2s linear backwards .6s;
  
}

.home #next-slide,
.home #prev-slide {
  height:3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.5rem;
  color: #222;
  border-radius: 3.5rem;
  border: 0.2rem solid #222;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0,2);
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  text-align: center;
}

.home #next-slide:hover,
.home #prev-slide:hover {
  background: #cc9a97;
  color: #fff;
}
.home #prev-slide {
  right: 8rem;
}

.category .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));
  gap: 1rem;
  margin-top: 9rem;
}

.category h2 {
   font-size: 24px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   margin-top: 9rem;
   color: #422f32;
   font-weight: lighter;
   padding: 0 1em 1px;
   letter-spacing: 2px;

}
.category .box-container .box {
  text-align: center;
  text-decoration: none;
  color: #000;
}

.category .box-container .box h3  {
  text-align: center;
  font-weight: 700;
  font: 19px;
  text-decoration: none;
  line-height: normal;
  padding: 0 5em 1px;
  letter-spacing: 1px;
}
.category .box-container .box p {
  text-align: center;
  font-size: 12px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
   padding: 0 3em 1px;
  color: lightslategray;
  letter-spacing: 0.3px;
}
.flaw {
  color: #422f32;
}

.btns{
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  align-items: center;
  color: #000;
  text-decoration: none;
  font-size: 1.7rem;
  box-shadow: 0 0.5rem 1rem #000;
  cursor: pointer;
}
.btns:hover {
  letter-spacing: .1rem;
  background: #cc9a97;
}

.category .box-container .box:hover h3 {
  color: #cc9a97;
}

.category .box-container .box img{
  height: 21rem;
  margin-bottom: 2rem;
  padding: 0 2em 1px;
}
.category .box-container .box h3 {
  font-size: 1.3rem;
  color: #3e2b2e;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.about .img {
  flex: 1 1 42rem;
  padding-bottom: 5rem;
  padding-right: 4rem;
}
.about .img img {
  width: 100%;
  box-shadow: 3rem 3rem 0 #;
  padding: 0 2em 1px;
margin-top: 2em;
}

.about .content {
  flex: 1 1 42rem;
}
.about .content .box {
  padding: 3rem;
  background: #eee;

}
.about .content .box h3 {
  font-size: 2.5rem;
  color: #222;
}
.about .content .box p {
  padding: 1rem 0;
  line-height: 2;
  color: #666;
  font-size: 1.4rem;
}
.about .content .icons-container {
  display: flex;
  flex-direction: wrap;
  align-items: flex-end;
  gap: 2rem;
  margin-top: 2rem;
}
.about .content .icons-container .icons {
  flex: 1 1 16rem;
  background: #eee;
  padding: 2rem;
  text-align: center;
}

.about .content .icons-container .icons {
  color: #cc9a97;
  margin-bottom: 1rem;
  font-size: 5rem;
}
.about .content .icons-container .icons p {
  font-size: 1.4rem;
  color: #422f32;
}
.shop {
  color: #cc9a97;
  padding: 0 2em 1px;
}
.shop .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(31rem,1fr));
  gap: 2rem;
  /* width: 20px; */
}
.shop .box-container .box{
  text-align: center;
  background: #fff;
  border: 0.2rem solid #;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0,1);
}

.shop .box-container .box:hover .img img{
  transform: scale(1.1);
}

.shop .box-container .box:hover .img .icons {
  transform: translateX(0rem);
}



.shop .box-container .box .img {
  position: relative;
  overflow: hidden;
  /* align-items: center; */
}
.shop .box-container .box .img img {
  height: 25rem;
  margin-top: 3rem;
  
}

.shop .box-container .box .img .icons {
  position: absolute;
  top:1rem;
  left: 2rem;
  transform: translateX(-10rem);
}


.shop .box-container .box .img .icons a{
  display: block;
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: #222;
  border-radius: 0.2rem solid #222;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0,1);
  margin-top: 1rem;
}
.shop .box-container .box .img .icons a:hover {
  color: #fff;
  background: #cc9a97;
}
.shop .box-container .box .content {
  padding: 2rem;
}
.shop .box-container .box .content h3 {
  font-size: 2.8rem;
  color: #222;
  padding-bottom: -5rem;
  font-weight: lighter;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.shop .box-container .box .content .price {
  font-size: 2rem;
  font-weight: bolder;
  color: #cc9a97;
} 
.shop .box-container .box .content .price span {
  color: #666;
  font-size: 1.7rem;
  text-decoration: line-through;
}

.banner {
  background: url('src/pics/LM_SP23_HVLC_What_sNew_NOCOPY_1f3f1782-5598-4ad4-a4e2-7a0c2522a7e8.jpg') no-repeat;
  background-size: cover;
   height: 65rem; 
  padding: 0 2em 1px;
  background-position: center;
}
.banner .content {
  max-width: 40rem;
  background:#eee;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0,1);
  padding: 2rem;
  text-align: center;
  margin: 10rem 0;
}
.banner .content span {
  font-size: 2rem;
}

.banner .content h3 {
  font-size: 3rem;
  color: #222;
  padding-top: .5rem;
}
.banner .content p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
  line-height: 1.5;

}
.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(31rem,1fr));
  gap: 2rem;
  padding: 0 2em 1px;
}
.gallery .heading {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.gallery .box-container .box {
  height: 45rem;
  overflow:hidden;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0,1);
}
.gallery .box-container .box:hover .content{
  display: flex;
}
.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;

}
.gallery .box-container .box .content {
  background: rgba(225,255,255,0.8);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2rem;
  text-align: center;
  border: 0.2rem solid #;
  display: none;
}
.gallery .box-container .box .content h3{
  font-size: 2rem;
  color: #222;
  animation: fadeIn .2s linear backwards;
}
.gallery .box-container .box .content p{
  font-size: 1.4rem;
  color: #222;
  padding: 1rem 0;
  line-height: 2;
  animation: fadeIn .2s linear backwards .4s;
}
.gallery .box-container .box .content .btn {
  animation: fadeIn .2s linear backwards .6s;
}

.message {
  background: url('src/pics/LM_SP23_TMBR_HP_Banner_M_NoCopy.jpg') no-repeat;
  background-size: cover;
  margin-top: 2rem;
  background-position: center;
  background-attachment: fixed;
  padding: 3rem 2rem;
}
.message form {
  margin: 2rem;
  background: #eee;
  text-align: center;
  max-width: 50rem;
  max-height: 70rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0,1);
  padding: 2rem;
}
.message form h3{
  font-size: 3rem;
  color:#222;
  font-weight: bolder;
}
.message form .box {
  width: 100%;
  padding: 1.5rem 0;
  margin: .7rem 0;
  font-weight: bolder;
  letter-spacing: 1px;
   font-size: 1.6rem;
   color: #666;
   text-transform: none;
   border-radius: 0.2rem solid #222;
}
.message form textarea{
  height: 15rem;
  resize: none;
}
.blogs .box-container {
   display: grid;
  grid-template-columns: repeat(auto-fit,minmax(31rem, 1fr));
  gap: 2rem;
  padding: 0 2em 1px;
}
.blogs .heading {
  font-size: 5rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
}
.blogs .box-container .box{
  border: 0.7rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0,1);
}
.blogs .box-container .box:hover .img img {
  transform :scale(1.1);
}
.blogs .box-container .box .img{
  height: 30rem;
  width: 90%;
  border:0.2rem ;
  overflow: hidden;
}

.blogs .box-container .box .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blogs .box-container .box .content {
  padding: 2rem;
  position: relative;
}

.blogs .box-container .box .content .date {
  position: absolute;
  top: -4rem;
  right:3rem;
  height: 6rem;
  width: 6rem;
  border-radius: 0.5rem solid #222 ;
  border-radius: 50%;
  background: #666;
  text-align: center;
  padding-top: 1rem;
}
.blogs .box-container .box .content .date  h3{
  font-size: 2rem;
  line-height: 1;
  color: #fff;
}
.blogs .box-container .box .content .date span {
  font: 1.5rem;
}
.blogs .box-container .box .content .user {
  display: block;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: #666;
}
.blogs .box-container .box .content .user i {
  padding-right: -5rem;
  color: #cc9a97;
}
.blogs .box-container .box .content .user:hover {
  color: #422f32;
}
.blogs .box-container .box .content .title {
  font-size: 2rem;
  color: #222;
}
.blogs .box-container .box .content .title:hover {
  color: #cc9a97;
}

.blogs .box-container .box .content p {
  padding: 1rem 0;
  line-height: 2;
  color: #666;
  font-size: 1.4rem;
}
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1rem;
  background-color: #cc9a97;
}
.services .box {
  align-items: center;
  padding: 2rem;
}
.services .box img {
  height: 10rem;
  padding: 0 2em 1px;
}
.services .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: #fff;
}
.services .box p {
  line-height: 2;
  font-size: 1.4rem;
  color: #fff;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  padding: 0 2em 1px;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #222;
  padding: 1rem 0;
}
.footer .box-container .box .link {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #666;
  display: block;
}
.footer .box-container .box .link i {
  padding-right: -5rem;
  color: #cc9a97;
}
.footer .box-container .box .link:hover{
  color: #cc9a97;
}
.footer .box-container .box .link:hover i{
  padding-right: 1rem;
}
.footer .box-container .box .share {
  margin-top: 2rem;
}
.footer .box-container .box .share a {
  height: 4.5rem;
  width: 3rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  background: #eee;
  text-align: center;
  color: #222;
  margin-right: .5rem;
}
.footer .box-container .box .share a:hover {
  color: #fff;
  background: #cc9a97;
}
.footer .box-container .box p {
  padding: 1rem 0; 
  font-size: 1.7rem;
  color: #666;
}
.footer .box-container .box form .email{
  border:0.1rem solid #222;
  width: 100%;
  padding:1.1rem 1.4rem;
  text-decoration: none;
  color: #666;
  margin: 1.6rem 0;
  font-size: 1.6rem;
}
.footer .credit {
  text-align: center;
  padding: 1rem;
  padding-top: 3rem;
  margin-top: 3rem;
  font-size: 2rem;
  border-top: 0.2rem solid #222;
  color: #cc9a97;
}



@media (max-width: 991px) {
    html {
      font-size: 55%;

    }
    .header {
      padding: 1.5rem 2rem;
    }
    sections {
      padding: 3rem 2rem;
    }
}

@media (max-width:768px) {
  .header #menu-btn{
    display: inline-block;
  }
  .icons{
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: grey;
    border-top: 0.2rem solid #222;
    border-bottom: 0.2rem solid #222;
    padding: 0.2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
    .header .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  .header .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 1
  }
}

@media (max-width:450px) {
  html {
    font-size: 50%;
  }
}



body {
   width: 100%; 
   min-height: 200vh;   

}

.nav {
  width: 100%;
  
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 999;
  /* margin: 0; */
  padding: 0;
}
.nav a {
  text-decoration: none;
  color: black;

  font-size: small;
  font-weight: 500;
}
.beauty a:hover {
  font-size: 15px;
  padding-top: calc(2em -2px);
  transform: translateY(-2px);

  transition: 0.3s;
  text-decoration: underline;

  cursor: pointer;
 
}
.beauty {
   background-color: #3e2b2e;
    width: 100%;
    padding: 20px;
    color: #fff;
    text-align: center;
    letter-spacing: 7px;
}
